* {
    padding: 0;
    margin: 0;
}

header {
    background-color: #363636;
    height: 80px;
    width: 100%;
}
header a {
    color:white;
    text-decoration: none;
    transition: 0.5s ease;
}
header a:hover {
    color:rgba(248, 245, 34, 0.76) ;
    font-size: 105%;
    /* text-decoration: underline; */
}
header li {
    display:inline;
    margin-right: 4vw;
}
header ul {
    position:absolute;
    right: 5vw;
    top: 0;
    line-height: 80px;
}

h1 {
    color: white;
    position: absolute;
    left: 120px;
    top: 0px;
    line-height: 80px;
}

.Pic {
    background-color: antiquewhite;
    color: white;
    height: 85vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url("S__223125565_0.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-image 1s ease-in-out;
}
.Pic h2 {
    font-size: 80px;
    position: relative;
    left:-400px;
}
.Pic p {
    font-size: 25px;
    color: #FEF7E6;
    margin: 50px 0;
    position: relative;
    left:-330px;
}

footer {
    background-color: #363636;
    color: #b7b7b7;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

/* ------------burger------------ */
.burger {
    display: none;
}
.bar {
    display: block;
    width:25px; height: 3px; margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
/* ------------------------------ */

/* 響應式css */
@media screen and (max-width: 768px) {

    header h1 {
        left: 50%;
        transform: translateX(-50%);
    }
    .Pic h2 {
        position: inherit;
        font-size: 40px;
        display: flex;
        align-items: center; justify-content: center;
    }
    .Pic p {
        position: inherit;
        font-size: 13px;
        display: flex;
        align-items: center; justify-content: center;
    }
     .burger {
        display: block;
        background-color: transparent;
        color: white;
        font-size: 45px;
        position: absolute;
        top: 25px; left: 20px;
        border: none;
        cursor: pointer;
     }
    .burger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .burger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .burger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav_menu {
        display: fixed;
        font-size: 20px;
        top: -300px;
        flex-direction: column;
        background-color: #02052e;
        width: 100%;
        text-align: center;
        transition: 0.4s;
        left:0;
    }
    .nav_item {
        display: flex;
        flex-direction: column;
        margin: 10px 10px 0 10px;
    }
    .nav_menu.active {
        top: 70px;left: 0;
        box-shadow: 5px 5px 10px rgb(0, 0, 0);
    }
}
